.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  background-color: var(--color-black);
  color: var(--color-white);

  &__logo {
    width: 3rem;
    height: 3rem;
    border-radius: var(--border-circle);
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-white);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: var(--border-round);
    border: 2px solid var(--color-black);
  }
}
