.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: auto 15rem;

  &__leftbox {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
  }

  &__rightbox {
    width: 30rem;
    height: 30rem;
    padding: 1rem;
    background-color: var(--color-black);
    border-radius: 1rem;
    box-shadow: 1px 1px 1rem var(--color-black);
  }
}
