.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  &__leftbox {
    padding: 2rem;
    font-size: 1rem;
  }

  &__rightbox {
    width: 20rem auto;
    border-radius: var(--border-round);
  }
}
