:root {
  --color-black: #222;
  --color-white: #fff;
  --color-gray: #414141;

  --color-blue: #5a5af1;
  --color-red: #b33939;
  --color-orange: #ff793f;
  --color-purple: #706fd3;

  --border-round: 1rem;
  --border-circle: 1600rem;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

//IMPORTS
//COMPONENTS A-Z
@import "./components/gallery.scss";
@import "./components/grid.scss";
@import "./components/header.scss";
@import "./components/home.scss";
@import "./components/hero.scss";
@import "./components/layout.scss";
@import "./components/profile-maker.scss";
@import "./components/tabs.scss";
