:root {
  --color-black: #222;
  --color-white: #fff;

  --color-blue: #5a5af1;

  --border-round: 1rem;
  --border-circle: 1600rem;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

//IMPORTS
//COMPONENTS A-Z
@import "./components/header.scss";
@import "./components/hero.scss";
@import "./components/layout.scss";
@import "./components/profile-maker.scss";
